/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-image: url("https://i.imgur.com/6j2UyWU.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body > header > h1 {
  border: 10px double goldenrod;
  margin: 20px auto 60px auto;
  padding: 20px 20px 20px 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: goldenrod;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  position: absolute;
  top: 400px;
  left: -200px;
}

body > header > h1 > span {
  writing-mode: vertical-rl;
  font-size: 2.2rem;
  margin: 0 10px;
  
}

#playWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  width: 850px;
  height: 700px;
}

#map1 {
  background-image: url(https://i.imgur.com/kXULxz2.png);
  background-size: cover;
  width: 850px;
  height: 700px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 2;
}
  
 .wall1 {
   width: 220px;
   height: 4px;
   /* background-color: blue; */
   position: absolute;
   top: 290px;
   left: 100px;
   transform: translate(-50%, -50%) rotate(-45deg);
   transform-origin: left center;
   border-radius: 50%;
   z-index: 2;
 }

  .wall2 {
    width: 127px;
    height: 165px;
    position: absolute;
    top: 0px;
    left: 293px;
    /* background-color: red; */
    border-radius: 0 0 0 10px;
    z-index: 2;
  }
  
  .wall3 {
    width: 310px;
    height: 355px;
    position: absolute;
    top: 0px;
    left: 543px;
    /* background-color: green; */
    border-radius: 0 0 0 10px;
    z-index: 2;
    
  }

  .wall4 { 
    width: 850px;
    height: 97px;
    position: absolute;
    top: 604px;
    left: 0px;
    /* background-color: yellow; */
    border-radius: 0 10px 0 0;
    z-index: 2;
  }
  
  .wall5 { 
    width: 105px;
    height: 181px;
    position: absolute;
    top: 423px;
    left: 0px;
    /* background-color: white; */
    border-radius: 0 10px 0 0;
    z-index: 2;
  }

#map2 {
  background-image: url(https://media.tenor.com/pLowlxwrWxoAAAAM/sunset.gif);
  background-size: cover;
  width: 850px;
  height: 700px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 2; 
}

.door {
  position: absolute;
  width: 144px;
  height: 5px;
  top: 160px;
  left: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
}
  

.heroSprite {
    z-index: 5;
    position: absolute;
    width: 47px;
    height: 50px;
    top: 400px;
    left: 500px;
}

#sword {
  z-index: 4;
  position: absolute;
  top: 75px;
  left: 375px;
  height: 100px;
  width: 50px;
  margin: 0;
}

.sword-text {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 1rem;
  color: goldenrod;
  position: absolute;
  top: -50px;
  left: -400px;
  width: 900px;
  
}

#enemy {
  z-index: 5;
    position: absolute;
    width: 105px;
    height: 50px;
    top: 400px;
    left: 250px;
    animation: change-image 2.5s infinite;
    display: none;
}

@keyframes change-image {
  0% {
    content: url(https://i.imgur.com/bBGe4v7.png);
  }
  20% {
    content: url(https://i.imgur.com/QNeryvD.png);
    top: 600px;
    left: 700px;
  }
  40% {
    content: url(https://i.imgur.com/bBGe4v7.png);
    top: 100px;
    left: 300px;
  }
  60% {
    content: url(https://i.imgur.com/QNeryvD.png);
    top: 500px;
    left: 400px;
  }
  80% {
    content: url(https://i.imgur.com/bBGe4v7.png);
    top: 300px;
    left: 100px;
  }
  100% {
    content: url(https://i.imgur.com/QNeryvD.png);
    width: 105px;
    height: 100px;
    top: 100px;
    left: 700px;
  }
}

.linkPic {
  height: 90px;
  width: 90px;
  position: absolute;
  top: -40px;
  left: 0px;
  z-index: 4;
}


  