/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-image: url("https://i.imgur.com/6j2UyWU.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body > header > h1 {
  border: 10px double goldenrod;
  margin: 20px auto 60px auto;
  padding: 20px 20px 20px 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: goldenrod;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  /* transform-origin: center center; */
  position: absolute;
  top: 400px;
  left: -200px;
}

body > header > h1 > span {
  writing-mode: vertical-rl;
  font-size: 2.2rem;
  margin: 0 10px;
  
}

#playWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(115, 189, 210);
  width: 850px;
  height: 700px;
}

#map1 {
  background-image: url(https://i.imgur.com/kXULxz2.png);
  background-size: cover;
  width: 850px;
  height: 700px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 2;
}

  
 .wall1 {
   width: 220px;
   height: 2px;
   background-color: blue;
   position: absolute;
   top: 290px;
   left: 100px;
   transform: translate(-50%, -50%) rotate(-45deg);
   transform-origin: left center;
   border-radius: 50%;
   z-index: 2;
 }

  .wall2 {
    width: 127px;
    height: 165px;
    position: absolute;
    top: 0px;
    left: 293px;
    background-color: red;
    border-radius: 0 0 0 10px;
    z-index: 2;
  }
  
  .wall3 {
    width: 310px;
    height: 355px;
    position: absolute;
    top: 0px;
    left: 543px;
    background-color: green;
    border-radius: 0 0 0 10px;
    z-index: 2;
    
  }

  .wall4 { 
    width: 850px;
    height: 97px;
    position: absolute;
    top: 604px;
    left: 0px;
    background-color: yellow;
    border-radius: 0 10px 0 0;
    z-index: 2;
  }
  
 .wall5 { 
   width: 125px;
   height: 181px;
   position: absolute;
   top: 423px;
   left: 0px;
  background-color: white;
   border-radius: 0 10px 0 0;
  z-index: 2;
}
  

.heroSprite {
    z-index: 5;
    position: absolute;
    width: 47px;
    height: 50px;
    top: 400px;
    left: 500px;
}

img {
  clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
  height: 90px;
  width: 90px;
  position: absolute;
  top: -40px;
  left: 0px;
}
  